.container_main {
    text-align: center;
	background-color: #ffffff;
	border-radius: 20px;
	border-style:solid;
	border-color: #b9b4ae;
	border-width: 5px;
	width: 1000px;
	height: 1000px;
	margin: auto;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.header_line {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
}

.header_line .left {
    float: left;
    color: #f7f7f7;
}


.header_line .right {
    float: right;
}

.header_line .right a{
    color: #f7f7f7;
    line-height: 25px;
    display: inline-block;
    font-size: 20px;
    margin-right: 45px;
}

.header {
    text-align: center;
    color: #f7f7f7;
    font-size: 75px;
	margin-top:50px;
	margin-bottom: 50px;
}