{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medicine Reminder@team turtle</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <style>
        body {
            background-image: url("{% static 'img/wbbackground.jpg' %}");
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>


<body>
<div class="header_line">
    <div class="container">
        <
        <div class="left">
            Our team
            <div class="more">
                <div class="moreItem">Phone number:041xxxxxxx</div>
                <div class="moreItem">Facebook:xxxxxxx</div>
                <div class="moreItem">Email:xxxxx@gmail.com</div>
            </div>
        </div>


        <div class="right">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
        <div style="clear: both"></div>
    </div>
</div>

<div class="header">
    <h1>Team Turtle</h1>
</div>
<div class="card" style=" margin-left: 10%; margin-right:20%; padding-top: 50px; padding-bottom: 5px;">
    <img class="picture" src="{% static 'img/turtle.jpg' %}" alt="My image">
    <div class="card-body">
        <h5 class="card-title">Project background</h5>
        <p class="card-text">Some mini introduction to our product.</p>
        <br>
        <button class="btn btn-lg" data-toggle="modal" data-target="#popup_window">Look</button>


        <div class="modal fade" id="popup_window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">
                            Project background
                        </h4>
                    </div>
                    <div class="modal-body">
                        sAdhering to medication treatment is a crucial component for managing chronic conditions, acute
                        illnesses, and overall long-term health and well-being. For patients, caregivers, clinicians and
                        family members, maintaining correct dosages and schedules may be a stressful and dangerous
                        day-to-day challenge.
                        With around 35% of Australians taking prescription medicine every day, we are interested in how
                        an IoT-based medication dispenser / reminder device may help individuals adhere to medica- tion
                        treatments. Our project aims to ultimately maximise medication efficacy and safety, while still
                        contextualising the individual’s current level of functioning, life expectancy, values and
                        preferences.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card" style="padding-top: 50px; padding-bottom: 5px;">
    <img class="picture" ; src="{% static 'img/userguide.jpg' %}" alt="My image">
    <div class="card-body">
        <h5 class="card-title">User guide</h5>
        <p class="card-text">Click here to view the user tutorial.</p>
        <br>
        <button class="btn btn-lg" data-toggle="modal" data-target="#popup_window2">Start</button>


        <div class="modal fade" id="popup_window2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">
                            user guide
                        </h4>
                    </div>
                    <div class="modal-body">
                        <h4>software:</h4>
                        <ol>
                            <li>Enter the web page</li>
                            <li>Registered User Information</li>
                            <li>login user information</li>
                            <li>Fill out the medication instructions 5. Start the application</li>
                        </ol>
                         <h4>hardware:</h4>
                        <ol>
                            <li>Remind the patient to take medication</li>
                            <li>Drug Remaining Detection</li>
                            <li>Notifying the guardian of not taking the medicine on time</li>
                        </ol>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>