{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Plan</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plan_all.js' %}"></script>

    <style>
        body {
            background-image: url("{% static 'img/wbbackground.jpg' %}");
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="header_line">
    <div class="container">
        <div class="left">
            Our team
            <div class="more">
                <div class="moreItem">Phone number:041xxxxxxx</div>
                <div class="moreItem">Facebook:xxxxxxx</div>
                <div class="moreItem">Email:xxxxx@gmail.com</div>
            </div>
        </div>


        <div class="right">
            <a href="/login/">Log out</a>
        </div>
        <div style="clear: both"></div>
    </div>

</div>
<div class="header">
    <h1>start your plan</h1>
</div>
<div class="container_main">
    <form method="post" id="plan">
        {% csrf_token %}

        <br><br>
        <div class="from_input" id="plan1">
            <span>Medicine Name: </span>
            <input type="text" placeholder="name" name="med_name">
            <br>
            <br>
            <span>Medicine Dosage: </span>
            <input type="text" placeholder="dosage" name="dosage">
            <br>
            <br>
            <span>number of times: </span>
            <input type="number" id="get_time" min="1" max="5" name="times" onchange="time_maker()"/>
            <div style="color: green">(should be 1-5)</div>
            <div id="dync"></div>
            <br>
            <br>
            <span>Emergency Email: </span>
            <input type="Email" name="email" placeholder="email">

        </div>
        <br>
        <br>
        <br>
        <HR width=300 color=#b9b4ae>
        <div class="form_submit">
            <input class="button" type="button" value="one more" onclick="Make_plan()">
            <input class="button" type="submit" value="save">
        </div>
    </form>
</div>

</body>
</html>